<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>NSCameraUsageDescription</key>
    <string>We need access to your camera for feed uploads.</string>

    <key>NSMicrophoneUsageDescription</key>
    <string>We need access to your microphone for feed uploads.</string>

</dict>
</plist>
